In [1]:
!ls

Asset Challenge
Asset_Challenge.zip
Challange.py
Preprocessing_Text.ipynb
README.md
gold_binar
preprocessed_indonesian_toxic_tweet.csv
simpler-preprocess-indonesian-hate-abusive-text.ipynb

In [2]:
import pandas as pd
import re

In [3]:
df_abusive = pd.read_csv("Asset Challenge/abusive.csv")
df_kamusalay = pd.read_csv("Asset Challenge/new_kamusalay.csv",encoding = 'latin1',header=None)
df_data = pd.read_csv("Asset Challenge/data.csv",encoding = 'latin1')

In [4]:
df_abusive

         ABUSIVE
0           alay
1          ampas
2           buta
3        keparat
4         anjing
..           ...
120        rezim
121        sange
122       serbet
123        sipit
124  transgender

[125 rows x 1 columns]

In [5]:
df_kamusalay

                         0                                  1
0      anakjakartaasikasik           anak jakarta asyik asyik
1             pakcikdahtua                  pak cik sudah tua
2           pakcikmudalagi                  pak cik muda lagi
3              t3tapjokowi                       tetap jokowi
4                       3x                          tiga kali
...                    ...                                ...
15162            mendikbud  menteri pendidikan dan kebudayaan
15163               mendag                menteri perdagangan
15164              menaker               menteri tenaga kerja
15165             memetwit                            mentwit
15166             megangin                           memegang

[15167 rows x 2 columns]

In [6]:
df_kamusalay=df_kamusalay.rename(columns={0 : 'original',
                                         1 : 'Baku'})

In [7]:
df_kamusalay

                  original                               Baku
0      anakjakartaasikasik           anak jakarta asyik asyik
1             pakcikdahtua                  pak cik sudah tua
2           pakcikmudalagi                  pak cik muda lagi
3              t3tapjokowi                       tetap jokowi
4                       3x                          tiga kali
...                    ...                                ...
15162            mendikbud  menteri pendidikan dan kebudayaan
15163               mendag                menteri perdagangan
15164              menaker               menteri tenaga kerja
15165             memetwit                            mentwit
15166             megangin                           memegang

[15167 rows x 2 columns]

In [8]:
df_data

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,- disaat semua cowok berusaha melacak perhatia...,1,1,1,0,0,0,0,0,1,1,0,0
1,RT USER: USER siapa yang telat ngasih tau elu?...,0,1,0,0,0,0,0,0,0,0,0,0
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",0,0,0,0,0,0,0,0,0,0,0,0
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,0,0,0,0,0,0,0,0,0,0,0,0
4,USER USER Kaum cebong kapir udah keliatan dong...,1,1,0,1,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13164,USER jangan asal ngomong ndasmu. congor lu yg ...,1,1,1,0,0,0,1,0,0,1,0,0
13165,USER Kasur mana enak kunyuk',0,1,0,0,0,0,0,0,0,0,0,0
13166,USER Hati hati bisu :( .g\n\nlagi bosan huft \...,0,0,0,0,0,0,0,0,0,0,0,0
13167,USER USER USER USER Bom yang real mudah terdet...,0,0,0,0,0,0,0,0,0,0,0,0
13168,"USER Mana situ ngasih("": itu cuma foto ya kuti...",1,1,1,0,0,0,0,0,1,1,0,0

In [37]:
def kecilkan_huruf(text):
    return text.lower()

def remove_bukan_huruf_bukan_angka(text):
    text = re.sub('[^0-9a-zA-Z]+', ' ', text) 
    return text

df_data['Tweet'] = df_data['Tweet'].apply(remove_bukan_huruf_bukan_angka)

In [38]:
df_data

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
0,disaat semua cowok berusaha melacak perhatian...,1,1,1,0,0,0,0,0,1,1,0,0
1,siapa yang telat ngasih tau elu edan sarap gu...,0,1,0,0,0,0,0,0,0,0,0,0
2,41 kadang aku berfikir kenapa aku tetap percay...,0,0,0,0,0,0,0,0,0,0,0,0
3,aku itu aku n nku tau matamu sipit tapi dilia...,0,0,0,0,0,0,0,0,0,0,0,0
4,kaum cebong kapir udah keliatan dongoknya dar...,1,1,0,1,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13164,jangan asal ngomong ndasmu congor lu yg sekat...,1,1,1,0,0,0,1,0,0,1,0,0
13165,kasur mana enak kunyuk,0,1,0,0,0,0,0,0,0,0,0,0
13166,hati hati bisu g n nlagi bosan huft xf0 x9f x...,0,0,0,0,0,0,0,0,0,0,0,0
13167,bom yang real mudah terdeteksi bom yang terku...,0,0,0,0,0,0,0,0,0,0,0,0
13168,mana situ ngasih itu cuma foto ya kutil onta,1,1,1,0,0,0,0,0,1,1,0,0